<h1>
    Cats
</h1>

<% @cats.each do |cat| %>
    <p>
    <%= cat.name %>
    </p>
<% end %>

<h1>
    Users
</h1>

<% @users.each do |user| %>
    <p>
    <%= user.username %>
    <%= user.email %>
    <%= user.age %>
    </p>
<% end %>

<h1>
    Todos
</h1>

<% @todos.each do |todo| %>
    <p>
    <%= todo.tasks %>
    <%= todo.finished %>
    </p>
<% end %>

